<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Dashboard - Booking App</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/scripts.js" defer></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('/images/background-image.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <%- include('partials/header') %>

    <main class="dashboard-container">
        <h2>Admin Dashboard</h2>

        <!-- Chart Section -->
        <div class="chart-grid" style="padding-bottom: 30px;">
            <% seatData.forEach(block => { %>
            <div class="chart-card">
                <h3>Blok <%= block.block_name %></h3>
                <div class="chart-container">
                    <canvas id="chart<%= block.block_name %>"></canvas>
                </div>
                <div class="chart-info" id="chartInfo<%= block.block_name %>">
                    <p>Kuota: <%= block.max %> seat</p>
                    <p>Terisi: <%= block.booked %> seat (<%= isNaN(((block.booked / block.max) * 100).toFixed(2)) ? 0 : ((block.booked / block.max) * 100).toFixed(2) %>%)</p>
                    <p>Tersisa: <%= block.max - block.booked %> seat</p>
                </div>
            </div>
            <% }) %>
        </div>

        <h2>Data Pemesanan</h2>

        <!-- Pemesanan Table Section -->
        <div class="table-responsive" style="padding-bottom: 30px;">
            <div class="container" style="width: 100%; padding: 0;">
                <div class="row" style="display: flex; width: 100%; gap: 10px;">
                    <div class="col">
                        <label for="filterDistrikBooking" class="form-label">Filter Distrik:</label>
                        <select id="filterDistrikBooking" class="select2 form-control">
                            <option value="">Semua</option>
                            <% distrikList.forEach(distrik => { %>
                                <option value="<%= distrik.id %>"><%= distrik.nama_distrik %></option>
                            <% }) %>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterJemaatBooking" class="form-label">Filter Sidang Jemaat:</label>
                        <select id="filterJemaatBooking" class="select2 form-control" disabled>
                            <option value="">Semua</option>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterBlokBooking" class="form-label">Filter Blok:</label>
                        <select id="filterBlokBooking" class="select2 form-control">
                            <option value="">Semua</option>
                            <% seatData.forEach(block => { %>
                                <option value="<%= block.id %>"><%= block.block_name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container" style="width: 100%; padding-left: 0; padding-right: 0;">
                <button id="export-booking-to-excel" type="submit" class="btn btn-success" style="padding: 8px 12px;">
                    Export <i class="fas fa-file-excel"></i>
                </button>
            </div>

            <table id="bookingDetailTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kode Pemesanan</th>
                        <th>Distrik</th>
                        <th>Sidang Jemaat</th>
                        <th>Blok</th>
                        <th>Kursi</th>
                        <th>Waktu Pemesanan</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <h2>Data Peserta Kebaktian</h2>

        <!-- Peserta Kebaktian Table Section -->
        <div class="table-responsive" style="padding-bottom: 30px;">
            <div class="container" style="width: 100%; padding: 0;">
                <div class="row" style="display: flex; width: 100%; gap: 10px;">
                    <div class="col">
                        <label for="filterDistrik" class="form-label">Filter Distrik:</label>
                        <select id="filterDistrik" class="select2 form-control">
                            <option value="">Semua</option>
                            <% distrikList.forEach(distrik => { %>
                                <option value="<%= distrik.id %>"><%= distrik.nama_distrik %></option>
                            <% }) %>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterJemaat" class="form-label">Filter Sidang Jemaat:</label>
                        <select id="filterJemaat" class="select2 form-control" disabled>
                            <option value="">Semua</option>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterBlok" class="form-label">Filter Blok:</label>
                        <select id="filterBlok" class="select2 form-control">
                            <option value="">Semua</option>
                            <% seatData.forEach(block => { %>
                                <option value="<%= block.id %>"><%= block.block_name %></option>
                            <% }) %>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterKategori" class="form-label">Filter Kategori:</label>
                        <select id="filterKategori" class="select2 form-control">
                            <option value="">Semua</option>
                            <option value="Anak">Anak</option>
                            <option value="Pendamping">Pendamping</option>
                            <option value="Orang Tua Peserta">Orang Tua Peserta</option>
                            <option value="Umum">Umum</option>
                        </select>
                    </div>
            
                    <div class="col">
                        <label for="filterStatus" class="form-label">Status Peserta:</label>
                        <select id="filterStatus" class="select2 form-control">
                            <option value="active">Aktif</option>
                            <option value="deleted">Terhapus</option>
                            <option value="all">Semua</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container" style="width: 100%; padding-left: 0; padding-right: 0;">
                <button id="export-to-excel" type="submit" class="btn btn-success" style="padding: 8px 12px;">
                    Export <i class="fas fa-file-excel"></i>
                </button>
            </div>

            <table id="bookingTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Nama</th>
                        <th>Distrik</th>
                        <th>Sidang Jemaat</th>
                        <th>Blok</th>
                        <th>Kelas</th>
                        <th>Umur</th>
                        <th>No. WhatsApp</th>
                        <th>Kategori</th>
                        <th>Kode Pemesanan</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Edit Modal -->
    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Booking Data</h2>
            <form id="editForm">
                <input type="hidden" id="editId" name="id">

                <div class="form-group">
                    <label for="editNama">Nama Lengkap</label>
                    <input type="text" id="editNama" name="name">
                </div>
                <div class="form-group">
                    <label for="editDistrik">Distrik</label>
                    <select id="editDistrik" name="distrik_id">
                        <% distrikList.forEach(distrik => { %>
                            <option value="<%= distrik.id %>">
                                <%= distrik.nama_distrik %>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editAsalSidang">Sidang Jemaat</label>
                    <select id="editAsalSidang" name="sidang_jemaat_id" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editBlokBooking">Blok</label>
                    <select id="editBlokBooking" name="block_id">
                        <% seatData.forEach(block => { %>
                            <option value="<%= block.id %>">
                                <%= block.block_name %>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editKategori">Kategori</label>
                    <select id="editKategori" name="category">
                        <option value="Anak">Anak</option>
                        <option value="Pendamping">Pendamping</option>
                        <option value="Orang Tua Peserta">Orang Tua Peserta</option>
                        <option value="Umum">Umum</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editKelas">Kelas</label>
                    <input type="number" id="editKelas" name="class">
                </div>
                <div class="form-group">
                    <label for="editUmur">Umur</label>
                    <input type="number" id="editUmur" name="age">
                </div>
                <div class="form-group">
                    <label for="editNoWa">WhatsApp</label>
                    <input type="text" id="editNoWa" name="whatsapp">
                </div>

                <button type="submit" class="btn">Simpan Perubahan</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>

    <!--/**
     * Generates a pie chart for each block based on the seat data.
     * The chart is generated using the Chart.js library.
     * The chart is responsive and has a legend at the bottom.
     * The tooltip shows the label and the raw value in the format "Terisi: X seat" or "Sisa: X seat".
     */-->
    <script>
        let charts = {};

        function getUpdatedSeatData() {
            $.ajax({
                url: '/admin/get-seat-data',
                type: 'GET',
                success: function (response) {
                    const seatData = response;

                    Object.keys(seatData).forEach(key => {
                        let block = seatData[key];
                        const canvasElement = document.getElementById(`chart${block.block_name}`);

                        if (!canvasElement) {
                        console.warn(`Canvas not found for block: ${block.block_name}`);
                        return;
                        }

                        if (charts[block.block_name]) {
                        charts[block.block_name].destroy();
                        }

                        const ctx = canvasElement.getContext('2d');
                        charts[block.block_name] = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: ['Terisi', 'Sisa'],
                                datasets: [{
                                data: [block.booked, block.max - block.booked],
                                backgroundColor: ['#36A2EB', '#FFCE56'],
                                hoverOffset: 4
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: { position: 'bottom' },
                                    tooltip: {
                                        callbacks: {
                                            label: function (context) {
                                                return `${context.label}: ${context.raw} seat`;
                                            }
                                        }
                                    }
                                }
                            }
                        });

                        const chartInfoEl = document.getElementById(`chartInfo${block.block_name}`);
                        if (chartInfoEl) {
                            const percentage = block.max > 0 ? ((block.booked / block.max) * 100).toFixed(2) : 0;
                            chartInfoEl.innerHTML = `
                                <p>Kuota: ${block.max} seat</p>
                                <p>Terisi: ${block.booked} seat (${percentage}%)</p>
                                <p>Tersisa: ${block.max - block.booked} seat</p>
                            `;
                        }

                    });
                }
            });
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            getUpdatedSeatData();
        });
    </script>

    <!-- Event Listener for distrik and asalSidang on the Edit Modal -->
    <script>
        const distrikSelect = document.getElementById('editDistrik');
        const asalSidangSelect = document.getElementById('editAsalSidang');

        distrikSelect.addEventListener('change', () => {
            const distrikId = distrikSelect.value;

            fetch(`/booking/asal-sidang/${distrikId}`)
                .then(res => res.json())
                .then(data => {
                    asalSidangSelect.innerHTML = '';
                    data.forEach(asalSidang => {
                        const option = document.createElement('option');
                        option.value = asalSidang.sidang_id;
                        option.textContent = asalSidang.nama_sidang;
                        asalSidangSelect.appendChild(option);
                    });
                });
        });
    </script>

    <!-- jQuery (DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- Datatables Configuration -->
    <script>
        $(document).ready(function () {
            let bookingTable = $('#bookingTable').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "responsive": true,
                "pageLength": 10,
                "scrollX": true,
                "language": {
                    "search": "Cari:",
                    "lengthMenu": "Tampilkan _MENU_ entri",
                    "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
                    "paginate": {
                        "first": "Awal",
                        "last": "Akhir",
                        "next": "Berikutnya",
                        "previous": "Sebelumnya"
                    }
                },
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "/admin/booking-datatable",
                    "type": "GET",
                    "data": function (d) {
                        d.distrik = $('#filterDistrik').val();
                        d.sidang_jemaat = $('#filterJemaat').val();
                        d.block = $('#filterBlok').val();
                        d.category = $('#filterKategori').val();
                        d.status = $('#filterStatus').val();
                    }
                },
                "columns": [
                    { 
                        "data": "id", 
                        "visible": true
                    },
                    {
                        "data": "name", 
                        "visible": true 
                    },
                    {
                        "data": "nama_distrik", 
                        "visible": true 
                    },
                    {
                        "data": "nama_sidang", 
                        "visible": true 
                    },
                    {
                        "data": "block_name", 
                        "visible": true 
                    },
                    {
                        "data": "class", 
                        "visible": true 
                    },
                    {
                        "data": "age", 
                        "visible": true 
                    },
                    {
                        "data": "whatsapp", 
                        "visible": false 
                    },
                    {
                        "data": "category", 
                        "visible": true 
                    },
                    {
                        "data": "booking_code", 
                        "visible": true 
                    },
                    {
                        "data": "deleted_at", 
                        "visible": true,
                        render: function (data, type, row) {
                            if (data === null) {
                                return 'Aktif';
                            } else {
                                let date = new Date(data);
                                let day = date.getDate().toString().padStart(2, '0');
                                let month = (date.getMonth() + 1).toString().padStart(2, '0');
                                let year = date.getFullYear();
                                let hours = date.getHours().toString().padStart(2, '0');
                                let minutes = date.getMinutes().toString().padStart(2, '0');
                                let seconds = date.getSeconds().toString().padStart(2, '0');

                                return 'Dihapus pada ' + `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
                            }
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, row) {
                            return `
                                <button class="btn-edit" data-id="${data}">Edit</button>
                            `;
                            // if (row.deleted_at === null) {
                            //     return `
                            //         <button class="btn-edit" data-id="${data}">Edit</button>
                            //         <button class="btn-delete" data-id="${data}">Hapus</button>
                            //     `;
                            // } else {
                            //     return `
                            //         <button class="btn-edit" data-id="${data}">Edit</button>
                            //         <button class="btn-restore" data-id="${data}">Restore</button>
                            //     `;
                            // }
                        }
                    }
                ],
            });

            let bookingDetailTable = $('#bookingDetailTable').DataTable({
                "processing": true,
                "serverSide": true,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "responsive": true,
                "pageLength": 10,
                "scrollX": true,
                "language": {
                    "search": "Cari:",
                    "lengthMenu": "Tampilkan _MENU_ entri",
                    "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
                    "paginate": {
                        "first": "Awal",
                        "last": "Akhir",
                        "next": "Berikutnya",
                        "previous": "Sebelumnya"
                    }
                },
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "/admin/booking-detail-datatable",
                    "type": "GET",
                    "data": function (d) {
                        d.distrik = $('#filterDistrikBooking').val();
                        d.sidang_jemaat = $('#filterJemaatBooking').val();
                        d.block = $('#filterBlokBooking').val();
                    }
                },
                "columns": [
                    { 
                        "data": "id", 
                        "visible": false
                    },
                    {
                        "data": "booking_code", 
                        "visible": true 
                    },
                    {
                        "data": "nama_distrik", 
                        "visible": true 
                    },
                    {
                        "data": "nama_sidang", 
                        "visible": true 
                    },
                    {
                        "data": "block_name", 
                        "visible": true 
                    },
                    {
                        "data": "num_seats", 
                        "visible": true 
                    },
                    {
                        "data": "created_at",
                        "render": function (data, type, row) {
                            let date = new Date(data);
                            let day = date.getDate();
                            let month = date.toLocaleString('default', { month: 'long' });
                            let year = date.getFullYear();
                            let hours = date.getHours().toString().padStart(2, '0');
                            let minutes = date.getMinutes().toString().padStart(2, '0');
                            let seconds = date.getSeconds().toString().padStart(2, '0');
                            return `${day} ${month} ${year} ${hours}:${minutes}:${seconds}`;
                        },
                        "visible": true 
                    },
                    {
                        "data": "deleted_at", 
                        "visible": true,
                        render: function (data, type, row) {
                            if (data === null) {
                                return 'Aktif';
                            } else {
                                let date = new Date(data);
                                let day = date.getDate().toString().padStart(2, '0');
                                let month = (date.getMonth() + 1).toString().padStart(2, '0');
                                let year = date.getFullYear();
                                let hours = date.getHours().toString().padStart(2, '0');
                                let minutes = date.getMinutes().toString().padStart(2, '0');
                                let seconds = date.getSeconds().toString().padStart(2, '0');

                                return 'Dihapus pada ' + `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
                            }
                        }
                    },
                    { 
                        "data": "booking_code",
                        "render": function (data, type, row) {
                            if (row.deleted_at === null) {
                                return `
                                    <div style="text-align: center;"><a href="/booking/download-booking-pdf/${data}" class="btn-download" data-id="${data}"><i class="fas fa-download"></i></a></div>
                                    <button class="btn-delete" data-id="${data}">Hapus</button>
                                `;
                            } else {
                                return `
                                    <div style="text-align: center;"><a href="/booking/download-booking-pdf/${data}" class="btn-download" data-id="${data}"><i class="fas fa-download"></i></a></div>
                                    <button class="btn-restore" data-id="${data}">Restore</button>
                                `;
                            }
                        }
                    }
                ],
            });

            $('#filterDistrikBooking').select2({
                placeholder: "Pilih Distrik",
                allowClear: true,
                width: '100%'
            });

            $('#filterJemaatBooking').select2({
                placeholder: "Pilih Distrik",
                allowClear: true,
                width: '100%'
            });

            $('#filterBlokBooking').select2({
                placeholder: "Pilih Blok",
                allowClear: true,
                width: '100%'
            });

            $('#filterDistrikBooking, #filterJemaatBooking, #filterBlokBooking').on('change', function () {
                bookingDetailTable.ajax.reload();
            });

            $('#filterDistrik').select2({
                placeholder: "Pilih Distrik",
                allowClear: true,
                width: '100%'
            });

            $('#filterJemaat').select2({
                placeholder: "Pilih Sidang Jemaat",
                allowClear: true,
                width: '100%'
            });

            $('#filterBlok').select2({
                placeholder: "Pilih Blok",
                allowClear: true,
                width: '100%'
            });

            $('#filterKategori').select2({
                placeholder: "Pilih Kategori",
                allowClear: true,
                width: '100%'
            });

            $('#filterStatus').select2({
                placeholder: "Pilih Status",
                width: '100%'
            });

            $('#filterDistrik, #filterJemaat, #filterBlok, #filterKategori, #filterStatus').on('change', function () {
                bookingTable.ajax.reload();
            });

            $('#filterDistrik').on('change', function () {
                let distrikId = $(this).val();
                let jemaatSelect = $('#filterJemaat');

                jemaatSelect.prop('disabled', true).html('<option value="">Semua</option>');

                if (distrikId) {
                    fetch(`/booking/asal-sidang/${distrikId}`)
                        .then(res => res.json())
                        .then(data => {
                            data.forEach(jemaat => {
                                jemaatSelect.append(new Option(jemaat.nama_sidang, jemaat.id));
                            });
                            jemaatSelect.prop('disabled', false);
                        });
                }
            });

            $('#bookingTable').on('click', '.btn-edit', function () {
                let bookingId = $(this).data('id');

                $.ajax({
                    url: `/booking/${bookingId}`,
                    type: 'GET',
                    success: function (data) {
                        $('#editId').val(data.id);
                        $('#editNama').val(data.name);
                        $('#editDistrik').val(data.distrik_id);
                        $('#editBlokBooking').val(data.block_id);
                        $('#editKategori').val(data.category);
                        $('#editKelas').val(data.class);
                        $('#editUmur').val(data.age);
                        $('#editNoWa').val(data.whatsapp);

                        $('#editAsalSidang').empty().append('<option value="">Pilih Sidang</option>');

                        $.ajax({
                            url: `/booking/asal-sidang/${data.distrik_id}`,
                            type: 'GET',
                            success: function (sidangList) {
                                sidangList.forEach(sidang => {
                                    let selected = (sidang.id == data.sidang_jemaat_id) ? 'selected' : '';
                                    $('#editAsalSidang').append(`<option value="${sidang.id}" ${selected}>${sidang.nama_sidang}</option>`);
                                });
                            },
                            error: function (err) {
                                console.error('Gagal mengambil data sidang:', err);
                            }
                        });

                        $('#editModal').css('display', 'block');
                    },
                    error: function (err) {
                        console.error('Gagal mengambil data:', err);
                    }
                });
            });

            $('.close').on('click', function () {
                $('#editModal').css('display', 'none');
            });

            $(window).on('click', function (e) {
                if ($(e.target).is('#editModal')) {
                    $('#editModal').css('display', 'none');
                }
            });

            $('#editForm').on('submit', function (e) {
                e.preventDefault();

                let formData = {
                    id: $('#editId').val(),
                    name: $('#editNama').val(),
                    distrik_id: $('#editDistrik').val(),
                    sidang_jemaat_id: $('#editAsalSidang').val(),
                    block_id: $('#editBlokBooking').val(),
                    category: $('#editKategori').val(),
                    class: $('#editKelas').val(),
                    age: $('#editUmur').val(),
                    whatsapp: $('#editNoWa').val(),
                };

                $.ajax({
                    url: `/admin/update-booking/${formData.id}`,
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        alert('Data berhasil diperbarui!');
                        $('#editModal').css('display', 'none');
                        bookingTable.ajax.reload(null, false);
                    },
                    error: function (err) {
                        console.error('Gagal menyimpan perubahan:', err);
                        alert('Terjadi kesalahan, coba lagi!');
                    }
                });
            });

            $('#bookingTable').on('click', '.btn-delete', function () {
                let bookingId = $(this).data('id');

                if (confirm('Apakah Anda yakin ingin menghapus data ini?')) {
                    $.ajax({
                        url: `/admin/delete-booking/${bookingId}`,
                        type: 'DELETE',
                        success: function (response) {
                            alert('Data berhasil dihapus!');
                            bookingTable.ajax.reload(null, false);

                            getUpdatedSeatData();
                        },
                        error: function (err) {
                            console.error('Gagal menghapus data:', err);
                            alert('Gagal menghapus data: \n' + err.responseJSON.message);
                        }
                    });
                }
            });

            $('#bookingTable').on('click', '.btn-restore', function () {
                let bookingId = $(this).data('id');

                if (confirm('Apakah Anda yakin ingin mengaktifkan data ini?')) {
                    $.ajax({
                        url: `/admin/restore-deleted-booking/${bookingId}`,
                        type: 'POST',
                        success: function (response) {
                            alert('Data berhasil diaktifkan!');
                            bookingTable.ajax.reload(null, false);

                            getUpdatedSeatData();
                        },
                        error: function (err) {
                            console.error('Gagal mengaktifkan data:', err.responseJSON);
                            alert(`Gagal mengaktifkan data:\n${err.responseJSON.message}`);
                        }
                    });
                }
            });

            $('#bookingDetailTable').on('click', '.btn-delete', function () {
                let booking_code = $(this).data('id');

                if (confirm('Apakah Anda yakin ingin menghapus data ini?')) {
                    $.ajax({
                        url: `/admin/delete-booking-detail/${booking_code}`,
                        type: 'DELETE',
                        success: function (response) {
                            alert('Data berhasil dihapus!');
                            bookingDetailTable.ajax.reload(null, false);
                            bookingTable.ajax.reload(null, false);

                            getUpdatedSeatData();
                        },
                        error: function (err) {
                            console.error('Gagal menghapus data:', err);
                            alert('Gagal menghapus data: \n' + err.responseJSON.message);
                        }
                    });
                }
            });

            $('#bookingDetailTable').on('click', '.btn-restore', function () {
                let booking_code = $(this).data('id');

                if (confirm('Apakah Anda yakin ingin mengaktifkan data ini?')) {
                    $.ajax({
                        url: `/admin/restore-deleted-booking-detail/${booking_code}`,
                        type: 'POST',
                        success: function (response) {
                            alert('Data berhasil diaktifkan!');
                            bookingDetailTable.ajax.reload(null, false);
                            bookingTable.ajax.reload(null, false);

                            getUpdatedSeatData();
                        },
                        error: function (err) {
                            console.error('Gagal mengaktifkan data:', err);
                            alert('Gagal mengaktifkan data: \n' + err.responseJSON.message);
                        }
                    });
                }
            });
        });
    </script>

    <!--/**
    * Redirects to the export-excel route, which will force the
    * browser to download the bookings data as an Excel file.
    */-->
    <script>
        const exportToExcel = () => {
          window.location.href = '/admin/export-excel';
        };
        
        document.getElementById('export-to-excel').addEventListener('click', exportToExcel);
    </script>
</body>

</html>
